<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">(PLaZA) Passwordless Lattice-based Zero Knowledge Web Application</div>
        <div class="navbar-links">
            <a href="{{ url_for('index') }}" class="nav-button">Login</a>
            <a href="{{ url_for('register') }}" class="nav-button">Register</a>
            <a href="{{ url_for('logout') }}" class="nav-button">Logout</a>
            <form method="post" action="{{ url_for('variant_selection') }}" class="variant-form">
                <select name="variant_selection" onchange="this.form.submit()" aria-label="Select Dilithium Variant">
                    <option value="Auto" {% if session.get('variant_selection', 'Auto') == 'Auto' %}selected{% endif %}>Auto</option>
                    <option value="Dilithium2" {% if session.get('variant_selection') == 'Dilithium2' %}selected{% endif %}>Dilithium2</option>
                    <option value="Dilithium3" {% if session.get('variant_selection') == 'Dilithium3' %}selected{% endif %}>Dilithium3</option>
                    <option value="Dilithium5" {% if session.get('variant_selection') == 'Dilithium5' %}selected{% endif %}>Dilithium5</option>
                </select>
            </form>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>